In [ ]:
for i in range(3):
  print("Artificial Intelligence")

Artificial Intelligence
Artificial Intelligence
Artificial Intelligence

In [ ]:
a="Data"
for i in range(len(a)):
  print("Good")

Good
Good
Good
Good

In [ ]:
A='Data Science'
for i in A:
  print("Good Luck")

Good Luck
Good Luck
Good Luck
Good Luck
Good Luck
Good Luck
Good Luck
Good Luck
Good Luck
Good Luck
Good Luck
Good Luck

In [ ]:
m= float(input("Enter marks: "))
if m>=0 and m<35:
  print("Fail...")
elif m>=35 and m<60:
  print("pass....")
elif m>=60 and m<75:
  print("First class...")
elif m>=75 and m<=100:
  print("With Distinction...")
else:
  print("Please enter correct marks....")

Enter marks: 89
With Distinction...

In [ ]:
for i in range(3):
  m= float(input("Enter marks: "))
  if m>=0 and m<35:
    print("Fail...")
  elif m>=35 and m<60:
    print("pass....")
  elif m>=60 and m<75:
    print("First class...")
  elif m>=75 and m<=100:
    print("With Distinction...")
  else:
    print("Please enter correct marks....")

Enter marks: 56
pass....
Enter marks: 88
With Distinction...
Enter marks: 908
Please enter correct marks....

In [ ]:
# Marks of 3 students and each student have 5 subject marks
l=['riya','siya','ritu']
for x in l:
  print( )
  print("Enter",x,"'s marks: ")
 
  for i in range(5):
    m= float(input("Enter marks: "))
    if m>=0 and m<35:
      print("Fail...")
    elif m>=35 and m<60:
      print("pass....")
    elif m>=60 and m<75:
      print("First class...")
    elif m>=75 and m<=100:
      print("With Distinction...")
    else:
      print("Please enter correct marks....")

Enter riya 's marks:
Enter marks: 90
With Distinction...
Enter marks: 4
Fail...
Enter marks: 34
Fail...
Enter marks: 45
pass....
Enter marks: 56
pass....

Enter siya 's marks:
Enter marks: 78
With Distinction...
Enter marks: 34
Fail...
Enter marks: 45
pass....
Enter marks: 56
pass....
Enter marks: 77
With Distinction...

Enter ritu 's marks:
Enter marks: 88
With Distinction...
Enter marks: 76
With Distinction...
Enter marks: 5
Fail...
Enter marks: 67
First class...
Enter marks: 677
Please enter correct marks....

In [ ]:
#  Marks of students and each student have 5 subject marks
l=[]
marks=[]
n=int(input("Enter n: "))
for x in range(n):
  print( )
  name=input("Enter name: ")
  l.append(name)
  print("Enter",l[x],"'s marks: ")
  
  for i in range(5):
    m= float(input("Enter marks: "))
    marks.append(m)
    if m>=0 and m<35:
      print("Fail...")
    elif m>=35 and m<60:
      print("pass....")
    elif m>=60 and m<75:
      print("First class...")
    elif m>=75 and m<=100:
      print("With Distinction...")
    else:
      print("Please enter correct marks....") 
print(l)
print(marks)

Enter n: 2

Enter name: siya
Enter siya 's marks:
Enter marks: 45
pass....
Enter marks: 67
First class...
Enter marks: 89
With Distinction...
Enter marks: 98
With Distinction...
Enter marks: 76
With Distinction...

Enter name: priya
Enter priya 's marks:
Enter marks: 56
pass....
Enter marks: 78
With Distinction...
Enter marks: 90
With Distinction...
Enter marks: 65
First class...
Enter marks: 78
With Distinction...
['siya', 'priya']
[45.0, 67.0, 89.0, 98.0, 76.0, 56.0, 78.0, 90.0, 65.0, 78.0]