## list --> 1st 4 elements of each item  --> Add DOB and 1st 4 elememts for creating password

enter n: 2
Enter name: siya
Enter name: vaibhav
Enter DOB: 27052000
Enter DOB: 03082002
[]
vaib03082002

In [ ]:
n=int(input())
print('Multiplication table of ',n,'is: ')
for i in range(1,11):
  print(n*i,end=' ')
  print('\n')

5
Multiplication table of  5 is:
5

10

15

20

25

30

35

40

45

50

In [ ]:
for i in range(1,6):
  n=0
  print("Multiplication table of",i)
  while n<10:
    n=n+1
    print(n*i,end=' ')
  print('\n')

Multiplication table of 1
1 2 3 4 5 6 7 8 9 10

Multiplication table of 2
2 4 6 8 10 12 14 16 18 20

Multiplication table of 3
3 6 9 12 15 18 21 24 27 30

Multiplication table of 4
4 8 12 16 20 24 28 32 36 40

Multiplication table of 5
5 10 15 20 25 30 35 40 45 50

In [ ]:
city=['pune','nashik','satara','kolhapur','shrirampur']
for x in city:
  l=len(x)
  place=[]
  print("city name: ",x)
  for y in range(l):
    pl=input("Enter place: ")
    place.append(pl)
  print(place)

city name:  pune
Enter place: ooti
Enter place: manali
Enter place: nashik
Enter place: goa
['ooti', 'manali', 'nashik', 'goa']
city name:  nashik
Enter place: shirdi
Enter place: mumbai
Enter place: banglore
Enter place: delhi
Enter place: noida
Enter place: chennai
['shirdi', 'mumbai', 'banglore', 'delhi', 'noida', 'chennai']
city name:  satara
Enter place: haidrabad
Enter place: pune
Enter place: shrirampur
Enter place: sangamner'
Enter place: rahuri
Enter place: mahabaleshwar
['haidrabad', 'pune', 'shrirampur', "sangamner'", 'rahuri', 'mahabaleshwar']
city name:  kolhapur
Enter place: gujrat
Enter place: rajsthan
Enter place: karnatak
Enter place: panjab
Enter place: maharashtra
Enter place: chattisgadh
Enter place: ahmedabad
Enter place: hariyana
['gujrat', 'rajsthan', 'karnatak', 'panjab', 'maharashtra', 'chattisgadh', 'ahmedabad', 'hariyana']
city name:  shrirampur
Enter place: goa
Enter place: nashik
Enter place: punr
Enter place: kolhapur
Enter place: satara
Enter place: shirdi
Enter place: banglore
Enter place: mumbai
Enter place: delhi
Enter place: ahmednagar
['goa', 'nashik', 'punr', 'kolhapur', 'satara', 'shirdi', 'banglore', 'mumbai', 'delhi', 'ahmednagar']

In [ ]:
city=[]
for i in range(2):
  ci=input("Enter city: ")
  city.append(ci)
for x in city:
  l=len(x)
  place=[]
  print("city name: ",x)
  for y in range(l):
    pl=input("Enter place: ")
    place.append(pl)
print(place)

Enter city: pune
Enter city: goa
city name:  pune
Enter place: nashik
Enter place: manali
Enter place: ooti
Enter place: banglore
city name:  goa
Enter place: delhi
Enter place: mumbai
Enter place: satara
['delhi', 'mumbai', 'satara']

In [ ]:
city=['pune','nashik','satara','kolhapur','shrirampur','Noida']
for i in city:
  l=len(i)
  if l%2==0:
    print('length of',i,':',l,'even',)
  else:
    print('length of',i,':',l,'odd')

length of pune : 4 even
length of nashik : 6 even
length of satara : 6 even
length of kolhapur : 8 even
length of shrirampur : 10 even
length of Noida : 5 odd

In [ ]:
city=[]
for i in city:
  l=len(i)
  if l%2==0:
    print('length of',i,':',l,'even',)
  else:
    print('length of',i,':',l,'odd')