In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Function without argument
def add():
  a=10
  b=20
  print(a+b)
add()

30

In [ ]:
# function with argument
def addition(a,b):
  print(a+b)

addition(20,60)

80

In [ ]:
def person(a,b):
  print(a+b)

a=int(input("Enter a: "))
b=int(input("Enter b: "))
person(a,b)

Enter a: 45
Enter b: 45
90

In [ ]:
# Function without argument with return
def school():
  a=int(input("Enter a: "))
  b=int(input("Enter b: "))
  return a+b

In [ ]:
def college():
  c=school()
  if c%2==0:
    print("Even")
  else:
    print("Odd")

college()

Enter a: 45
Enter b: 56
Odd

In [ ]:
# Function without argument with return
def school():
  a=int(input("Enter a: "))
  b=int(input("Enter b: "))
  return a,b
def college():
  c,d=school()
  if c%2==0:
    print(c,"is Even")
  elif d%2==0:
    print(d,"is even")
  else:
    print("Odd")

college()

Enter a: 56
Enter b: 89
56 is Even

In [ ]:
# function with argument with return
def person1(a,b):
  return a+b

def add1():
  f=person1(a,b)
  print(f)

In [ ]:
person1(23,23)
add1()

90

In [ ]:
def login():
    user=input("Enter username: ")
    passw=input("Enter password: ")
    return user,passw

In [ ]:
def new():
    username,password=login()
    if username=="Siya" and password==1234:
      print('Welcome....')
    else:
        print('Please Enter valid username or password')

In [ ]:
new()

Enter username: Siya
Enter password: 1234
Please Enter valid username or password

In [ ]:
# function
def course_func(name, course_name):
    print("Hello", name, "Welcome to RacksonsIT")
    print("Your course name is", course_name)

# call function
course_func('Siya', 'Data Science')

Hello Siya Welcome to RacksonsIT
Your course name is Data Science

In [ ]:
def arithmetic(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    multiply = num1 * num2
    division = num1 / num2
    # return four values
    return add, sub, multiply, division

# read four return values in four variables
a, b, c, d = arithmetic(10, 2)

print("Addition: ", a)
print("Subtraction: ", b)
print("Multiplication: ", c)
print("Division: ", d)

Addition:  12
Subtraction:  8
Multiplication:  20
Division:  5.0