In [3]:
# Write a Python function to find the maximum of three numbers.
def large(a,b,c):
    if a>b and a>c:
        print(f"a = {a} is larger number")
    elif b>a and b>c:
        print(f"b = {b} is larger number")
    else:
        print(f"c = {c} is larger number")
large(3,4,7)

c = 7 is larger number

In [4]:
large(6,3,5)

a = 6 is larger number

Write a Python function to sum all the numbers in a list.
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [5]:
def suml(l):
    sum=0
    for x in l:
        sum+=x
    print("sum of elements from list is: ",sum)

In [6]:
suml([8,2,3,0,7])

sum of elements from list is:  20

In [7]:
# Write a Python function to multiply all the numbers in a list.
def mul(l):
    product=1
    for x in l:
        product*=x
    print("multiplication of all elements is: ",product)

In [8]:
mul([8,2,3,-1,7])

multiplication of all elements is:  -336

Write a Python program to reverse a string.
Sample String : "1234abcd"
Expected Output : "dcba4321"

In [15]:
def reverse(s):
    rs=""
    i=len(s)
    while i>0:
        rs=rs+s[i-1]
        i=i-1
    return rs

In [16]:
reverse('1234abcd')

'dcba4321'

In [17]:
def reverse1(s):
    s1=s[::-1]
    return s1

In [18]:
reverse1('1234abcd')

'dcba4321'

Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [52]:
def factorial(l):
    for x in l:
        fact=1
        if x==0:
            print("factorial of 0 is : ",fact)
        elif x==1:
            print("factorial of 1 is : ",fact)
        elif x>1:
            for i in range(1,x+1):
                fact=fact*i
            print(f"factorial of {x} is : ",fact)

In [54]:
factorial([3,5,2,1,0])

factorial of 3 is :  6
factorial of 5 is :  120
factorial of 2 is :  2
factorial of 1 is :  1
factorial of 0 is :  1

In [56]:
factorial([8])

factorial of 8 is :  40320

In [58]:
factorial([5,6,7,10])

factorial of 5 is :  120
factorial of 6 is :  720
factorial of 7 is :  5040
factorial of 10 is :  3628800

In [69]:
def factorial(n):
    fact=1
    if n==0:
        print("factorial of 0 is : ",fact)
    elif n==1:
        print("factorial of 1 is : ",fact)
    elif n>1:
        for i in range(1,n+1):
            fact=fact*i
        print(f"factorial of {n} is : ",fact)

In [70]:
factorial(5)

factorial of 5 is :  120

In [71]:
factorial(7)

factorial of 7 is :  5040

In [72]:
factorial(6)

factorial of 6 is :  720

Write a Python function to check whether a number falls within a given range

In [73]:
def given_range(n,start,end):
    if n in range(start,end+1):
        print("%s is in range (%s,%s)"%(n,start,end))
    else:
        print("%s is not in range (%s,%s)"%(n,start,end))

In [74]:
given_range(5,3,9)

5 is in range (3,9)

In [75]:
given_range(15,3,9)

15 is not in range (3,9)

Write a Python function that accepts a string and counts the number of upper and lower case letters
Sample String : 'The quick Brow Fox'
Expected Output :
No. of Upper case characters : 3
No. of Lower case Characters : 12

In [87]:
def string(s):
    up=0
    low=0
    cd={}
    for x in s:
        if x.isupper():
            up+=1
            cd["upper count"]=up
        elif x.islower():
            low+=1
            cd["lower count"]=low
    print(cd)

In [88]:
string('The quick Brow Fox')

{'upper count': 3, 'lower count': 12}

In [89]:
string("Be Your Own Way!")

{'upper count': 4, 'lower count': 8}

Write a Python function that takes a list and returns a new list with distinct elements from the first list.
Sample List : [1,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [90]:
def distinct(l):
    unique_list=[]
    for x in l:
        if x not in unique_list:
            unique_list.append(x)
    print(unique_list)

In [91]:
distinct([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [92]:
distinct([23,44,56,44,67,76,67,44,34,44])

[23, 44, 56, 67, 76, 34]

Write a Python function that takes a number as a parameter and checks whether the number is prime or not.

In [140]:
def prime(n):
    if n==0:
        print(f"{n} is not prime number")
    elif n==1:
        print(f"{n} is not prime number")
    elif n>1:
        for i in range(2,n):
            if n%i==0:
                print(f"{n} is not prime number")
                break
        else:
            print(f"{n} is prime number")

In [141]:
prime(3)

3 is prime number

In [142]:
prime(4)

4 is not prime number

In [143]:
prime(2)

2 is prime number

In [144]:
prime(10)

10 is not prime number

In [145]:
prime(11)

11 is prime number