### Python append() method
syntax : list.append (element)

Used for adding elements to the end of the List.

In [2]:
List = ['Mathematics', 'chemistry', 1997, 2000] 
List.append(20544) 
print(List)

['Mathematics', 'chemistry', 1997, 2000, 20544]

### Python insert() method
Inserts an element at the specified position. 

Syntax:

list.insert(<position, element)

The position mentioned should be within the range of List, as in this case between 0 and 4, else wise would throw IndexError.

In [3]:
List = ['Mathematics', 'chemistry', 1997, 2000] 
# Insert at index 2 value 10087 
List.insert(2, 10087) 
print(List)

['Mathematics', 'chemistry', 10087, 1997, 2000]

### Python extend() method
Adds items of an iterable(list, array, string , etc.) to the end of a list

Syntax: List1.extend(List2)

In [4]:
List1 = [1, 2, 3] 
List2 = [2, 3, 4, 5] 
  
# Add List2 to List1 
List1.extend(List2) 
print(List1) 
  
# Add List1 to List2 now 
List2.extend(List1) 
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

## Important functions of the Python List
We have mentioned some essential Python list functions along with their syntax and example:

### Python sum() method
Calculates the sum of all the elements of the List. 

Syntax: sum(List)

In [5]:
List = [1, 2, 3, 4, 5] 
print(sum(List))

15

What happens if a numeric value is not used as a parameter? 

The sum is calculated only for numeric values, else wise throws TypeError.

In [6]:
List = ['gfg', 'abc', 3] 
print(sum(List))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Python count() method
Calculates the total occurrence of a given element of the List. 

Syntax: List.count(element)

In [7]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(List.count(1))

4

### Python len() method
Calculates the total length of the List. 

Syntax: len(list_name)

In [8]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(len(List))

10

### Python index() method
Returns the index of the first occurrence. The start and end indexes are not necessary parameters. 

Syntax: List.index(element[,start[,end]])

In [9]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(List.index(2))

1

In [10]:
List = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(List.index(2, 2))

4

### Python min() method
Calculates minimum of all the elements of List.

Syntax: min(iterable, *iterables[, key])

In [16]:
numbers = [5, 2, 8, 1, 9] 
print(max(numbers))

9

Python sort() method
Sort the given data structure (both tuple and list) in ascending order.

Key and reverse_flag are not necessary parameter and reverse_flag is set to False if nothing is passed through sorted().

In [23]:
List = [1,9,3,10,4,5,6,7,8]
#Reverse flag is set True 
List.sort(reverse=True)  
  
#List.sort().reverse(), reverses the sorted list   
print(List)

[10, 9, 8, 7, 6, 5, 4, 3, 1]

In [24]:
# creating a list 
list = [1,2,3,6,7,4,5] 
#reversing the list 
list.reverse() 
#printing the list 
print(list)

[5, 4, 7, 6, 3, 2, 1]

## Python pop() method
Removes an item from a specific index in a list.

Syntax: list.pop([index])

The index is not a necessary parameter, if not mentioned takes the last index.

In [25]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
print(List.pop())

2.5

In [26]:
List

[2.3, 4.445, 3, 5.33, 1.054]

In [33]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
List.pop(1)
print(List)

[2.3, 3, 5.33, 1.054, 2.5]

In [30]:
List

[2.3, 3, 5.33, 1.054, 2.5]

### Python del() method
Deletes an element from the list using it’s index.

Syntax: del list.[index]

In [43]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
del List[0:2] 
print(List)

[3, 5.33, 1.054, 2.5]

In [44]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
del List[0]
print(List)

[4.445, 3, 5.33, 1.054, 2.5]

In [47]:
List.clear()

In [48]:
List

[]

In [37]:
del(List)

In [38]:
List

NameError: name 'List' is not defined

### Python remove() method
Removes a specific element using it’s value/name.

Syntax: list.remove(element)

In [41]:
List = [2.3, 4.445, 3, 5.33, 1.054, 2.5] 
List.remove(3) 
print(List)

[2.3, 4.445, 5.33, 1.054, 2.5]

In [42]:
len(List)

5

### Append()

In [49]:
l=[1,2,3,4,5,6,7,8,9,10]

In [50]:
l.append(3)

In [51]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]

In [53]:
l.sort()

In [54]:
print(l)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
l.reverse()
print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 3, 2, 1]

In [58]:
l.index(3)

7

In [59]:
l.count(1)

1

In [60]:
l.count(3)

2

In [62]:
m=l
m[0]=0
print(l)

[0, 9, 8, 7, 6, 5, 4, 3, 3, 2, 1]

In [63]:
print(m)

[0, 9, 8, 7, 6, 5, 4, 3, 3, 2, 1]

In [65]:
l=[1,2,3,4,5]

In [66]:
m=l.copy()

In [67]:
print(m)

[1, 2, 3, 4, 5]

In [68]:
m.insert(2,7)

In [69]:
m

[1, 2, 7, 3, 4, 5]

In [70]:
l.extend([4,5,6])

In [71]:
l

[1, 2, 3, 4, 5, 4, 5, 6]

In [72]:
l.extend(m)

In [75]:
l

[1, 2, 3, 4, 5, 4, 5, 6, 1, 2, 7, 3, 4, 5]

In [76]:
# concatenate two list

In [77]:
k=l+m

In [78]:
k

[1, 2, 3, 4, 5, 4, 5, 6, 1, 2, 7, 3, 4, 5, 1, 2, 7, 3, 4, 5]

In [79]:
for i in m:
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 4, 5, 6, 1, 2, 7, 3, 4, 5, 1, 2, 7, 3, 4, 5]

## List Comprension

In [80]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [81]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [82]:
newlist = [x for x in range(10)]

In [83]:
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

In [88]:
# Set the values in the new list to upper case:
newlist=[x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [90]:
# Set all values in the new list to 'hello':
newlist=["hello" for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

In [91]:
# Return "orange" instead of "banana":
newlist=[x if x!="banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [95]:
newlist=["orange" if x=="banana" else x for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [97]:
try:
  print(y)
except:
  print("An exception occurred")

An exception occurred

In [100]:
a=10
b='o'
try:
    c=a+b
    print(c)
except:
    print("Hello")

Hello

In [1]:
def add(x,y):
    return x+y

In [2]:
add(3,2)

5

In [27]:
class addition:
    def add(self,x,y):
        print(x+y)

In [28]:
obj=addition()

In [29]:
obj.add(3,4)

7

In [16]:
try:
    print(x)
except NameError:
    print("Variable x is not defined")
except:
    print("Something else went wrong")

Variable x is not defined

In [17]:
try:
    print("Hello")
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Hello
Nothing went wrong

In [18]:
try:
    print(x)
except:
    print("Something went wrong")
finally:
    print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [1]:
l=[1,23,45,32,12,11,34]
print(l)

[1, 23, 45, 32, 12, 11, 34]

In [8]:
l1=l.reverse()
l1

In [9]:
print(l1)

None

In [7]:
print(l.sort())

None

In [10]:
l1=l[::-1]
print(l1)

[1, 11, 12, 23, 32, 34, 45]

In [13]:
l1.reverse()

In [14]:
print(l1)

[45, 34, 32, 23, 12, 11, 1]

In [15]:
l.reverse()

In [21]:
l=[1,2,3,4,5]

In [22]:
print(l.reverse())

None

In [23]:
print(l)

[5, 4, 3, 2, 1]

In [25]:
l.sort(reverse=True)

In [26]:
l

[5, 4, 3, 2, 1]

In [27]:
l.reverse()

In [28]:
l

[1, 2, 3, 4, 5]