In [ ]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a']]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

print(n_list[1][3])

a
5

In [ ]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

# last item
print(my_list[-1])

# fifth last item
print(my_list[-5])

In [ ]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

# last item
print(my_list[-1])

# fifth last item
print(my_list[-5])

e
p

In [ ]:
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# elements from index 2 to index 4
print(my_list[2:5])

# elements from index 5 to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [ ]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Appending and Extending lists in Python
odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [ ]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [ ]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [ ]:
#  Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

# Error: List not defined
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

NameError: ignored

In [ ]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')


print(my_list)


print(my_list.pop(1))


print(my_list)


print(my_list.pop())


print(my_list)

# my_list.clear()

# Output: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
['r', 'b', 'l', 'e']

In [ ]:
my_list = ['p','r','o','b','l','e','m']
my_list[2:3] = []
print(my_list)
my_list[2:5] = []
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'r', 'm']

Methods	Descriptions
append()	adds an element to the end of the list

extend()	adds all elements of a list to another list

insert()	inserts an item at the defined index

remove()	removes an item from the list

pop()	returns and removes an element at the given index

clear()	removes all items from the list

index()	returns the index of the first matched item

count()	returns the count of the number of items passed as an argument

sort()	sort items in a list in ascending order

reverse()	reverse the order of items in the list

copy() 	returns a shallow copy of the list

In [ ]:
# Example on Python list methods

my_list = [3, 8, 1, 6, 8, 8, 4]

# Add 'a' to the end
my_list.append('a')

# Output: [3, 8, 1, 6, 8, 8, 4, 'a']
print(my_list)

# Index of first occurrence of 8
print(my_list.index(8))   # Output: 1

# Count of 8 in the list
print(my_list.count(8))  # Output: 3

[3, 8, 1, 6, 8, 8, 4, 'a']
1
3

In [ ]:
pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [ ]:
a=20.2
b='30'
print(a+b)

TypeError: ignored

In [ ]:
a=input("Enter a: ")
print(a)
print(type(a))

Enter a: 44
44
<class 'str'>

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

print('p' in my_list)


print('a' in my_list)


print('c' not in my_list)

True
False
True

In [ ]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango