<a href="https://colab.research.google.com/github/KaleSupriya15/Python/blob/main/List_Tuple1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=['Priya','Komal','Siya',"Sapana",'Madhuri']
city=['Nagar','Nashik','Pune','Kolhapur','Mumbai']

In [ ]:
#Append method
city.append('Banglore')

In [ ]:
city

['Nagar', 'Nashik', 'Pune', 'Kolhapur', 'Mumbai', 'Banglore']

In [ ]:
city.insert(1,'Noida')
city

['Nagar', 'Noida', 'Nashik', 'Pune', 'Kolhapur', 'Mumbai', 'Banglore']

In [ ]:
city.pop(2)
city

['Nagar', 'Noida', 'Pune', 'Kolhapur', 'Mumbai', 'Banglore']

In [ ]:
city.index('Pune')    # for finding index

2

In [ ]:
city[3]       # for finding item

'Kolhapur'

In [ ]:
city

['Nagar', 'Noida', 'Pune', 'Kolhapur', 'Mumbai', 'Banglore']

In [ ]:
a= int(input("Enter a: "))
b=int(input("enter b: "))
for i in city:
  if i=='Pune':
    print("Addition: ",a+b,i)
  else:
    print("substraction: ",i)

Enter a: 45

In [ ]:
city

['Nagar', 'Nashik', 'Pune', 'Kolhapur', 'Mumbai']

In [ ]:
city=['Nagar', 'Nashik', 'Pune', 'Kolhapur', 'Mumbai']
for x in city:
  if x=='Pune':
    city.append("Satara")
    print(city)
  else:
    city.remove("Nashik")
    print(city)

['Nagar', 'Pune', 'Kolhapur', 'Mumbai']
['Nagar', 'Pune', 'Kolhapur', 'Mumbai', 'Satara']

ValueError: ignored

In [ ]:
students=['Priya','Siya','Ritu','Komal','Sapana','Mayur','Vaibhav','Vishal','Kunal','Abhay','Arya','Akshay','Swara']
girls=['Priya','Siya','Ritu','Arya']
boys=['Vaibhav','Vishal','Kunal','Abhay']
girls_host=[]
boys_host=[]
outsider=[]
for x in students:
  if x in girls:
    girls_host.append(x)
  elif x in boys:
    boys_host.append(x)
  else:
    outsider.append(x)

print("Girls in hostel: ",girls_host)
print("Boys in hostel: ",boys_host)
print("outside students: ",outsider)

Girls in hostel:  ['Priya', 'Siya', 'Ritu', 'Arya']
Boys in hostel:  ['Vaibhav', 'Vishal', 'Kunal', 'Abhay']
outside students:  ['Komal', 'Sapana', 'Mayur', 'Akshay', 'Swara']

In [ ]:
# 5 city
# count city
# even/odd
even_city=[]
odd_city=[]
city=['Mumbai','Pune','Nashik','Banglore','Kolhapur','Satara','Ahmednagar','Noida']
for x in city:
  l=len(x)
  if l%2==0:
    even_city.append(x)
  else:
    odd_city.append(x)
  
print('length of city is even number: ',even_city)
print('length of city is odd number: ',odd_city)

length of city is even number:  ['Mumbai', 'Pune', 'Nashik', 'Banglore', 'Kolhapur', 'Satara', 'Ahmednagar', 'Aurangabad']
length of city is odd number:  ['Noida']

In [ ]:
city=['Mumbai','Pune','Nashik','Banglore','Kolhapur','Satara','Ahmednagar','Noida']
code=[]
reg_no=[]
for x in city:
  reg=x[:4]
  l=len(x)
  code.append(l)
  reg_code=reg+str(l)
  reg_no.append(reg_code)


print(reg_no)

['Mumb6', 'Pune4', 'Nash6', 'Bang8', 'Kolh8', 'Sata6', 'Ahme10', 'Noid5']

In [ ]:
n=int(input("Enter n: "))
for i in range(n):
  for j in range(i):
    print('*',end=' ')
  print( )

Enter n: 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
n=int(input("Enter n: "))
for i in range(n):
  for j in range(i):
    print('*',end=' ')
  print( )

Enter n: 5

*
* *
* * *
* * * *

## Tuple
tuple is unchangable

In [ ]:
t=(1,2,3,4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [ ]:
t.insert(1,'23')

AttributeError: ignored

AttributeError: ignored

In [ ]:
t.append(9)

AttributeError: ignored

In [ ]:
t/2

TypeError: ignored

In [ ]:
t+5

TypeError: ignored

In [ ]:
t1=(9,8,7)

In [ ]:
t+t1     #concatenate tuple

(1, 2, 3, 4, 5, 6, 9, 8, 7)