In [1]:
# function for pring even number from list
def list_fun(x):
    for i in x:
        if i%2==0:
            print(f"{i} is even")
        else:
            print(f"{i} is odd")

In [2]:
list_fun([1,2,45,34])

1 is odd
2 is even
45 is odd
34 is even

In [3]:
# Write a program to create a function that takes two arguments, name and age, and print their value.
def fun(name,age):
    print(f"My name is {name}. I am {age} years old")

In [4]:
fun("Siya",23)

My name is Siya. I am 23 years old

In [15]:
# Create a function with variable length of arguments
def func(*args):
    for i in args:
        print(i)

In [16]:
func(20,30,40)

20
30
40

In [17]:
func("Siya","Seeta")

Siya
Seeta

In [18]:
# Return multiple values from a function
def calculation(a,b):
    addition=a+b
    substraction=a-b
    multiplication=a*b
    division=a/b
    return addition, substraction, multiplication, division

In [19]:
calculation(25,45)

(70, -20, 1125, 0.5555555555555556)

In [20]:
def calculation(a, b):
    return a + b, a - b

# get result in tuple format
# unpack tuple
add, sub = calculation(40, 10)
print(add, sub)

50 30

In [22]:
# Create a function with a default argument
def average(a,b,c=5):
    avg=(a+b+c)/3
    print(avg)

In [23]:
average(1,2)

2.6666666666666665

In [24]:
average(1,2,3)

2.0

In [25]:
# function with default argument
def show_employee(name, salary=9000):
    print("Name:", name, "salary:", salary)

show_employee("Ben", 12000)
show_employee("Jessa")

Name: Ben salary: 12000
Name: Jessa salary: 9000

### Create an inner function to calculate the addition in the following way
#### Create an outer function that will accept two parameters, a and b
#### Create an inner function inside an outer function that will calculate the addition of a and b
#### At last, an outer function will add 5 into addition and return it

In [35]:
def calculation(a,b):
    print("a: ",a, "b: ",b)
    def add(a,b):
        addition=a+b
        return addition
    addi=add(a, b)
    return addi+5

In [36]:
calculation(2,3)

a:  2 b:  3

10

In [37]:
calculation(25,5)

a:  25 b:  5

35

In [38]:
# outer function
def outer_fun(a, b):
    square = a ** 2

    # inner function
    def addition(a, b):
        return a + b

    # call inner function from outer function
    add = addition(a, b)
    # add 5 to the result
    return add + 5

result = outer_fun(5, 10)
print(result)

20

In [39]:
# Create a recursive function
# Write a program to create a recursive function to calculate the sum of numbers from 0 to 10.

# A recursive function is a function that calls itself again and again.

In [45]:
def add(n):
    if n:
        return n+add(n-1)
    else:
        return 0

In [46]:
add(10)

55

In [47]:
add(20)

210

In [49]:
# Assign a different name to function and call it through the new name
# Below is the function display_student(name, age). 
# Assign a new name show_tudent(name, age) to it and call it using the new name.
def display_student(name,age):
    print(name,age)
display_student("Amrita",23)

Amrita 23

In [52]:
show_student=display_student
show_student("Rutuja",24)

Rutuja 24

In [56]:
# Generate a Python list of all the even numbers between 4 to 30
def even(start, end):
    e=[]
    for x in range(start, end):
        if x%2==0:
            e.append(x)
    return e

In [57]:
even(4,30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [58]:
# Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]

24

In [7]:
def lar(list1):
    l=list1[0]
    for x in list1:
        if x>l:
            l=x
    print(f"{l} is lagrest item")

In [8]:
lar([4, 6, 8, 24, 12, 2])

24 is lagrest item