### 1. Take a 5-student name with marks and calculate the total and avg. of marks

In [1]:
name=[]
marks=[]
data=[]
for x in range(5):
    n=input("Enter name: ")
    name.append(n)
    data.append("my name :")
    data.append(n)
for y in name:
    print("Enter Marks of ",y)
    print("My marks are:")
    for i in range(5):
        m=int(input("Enter Marks:"))
        marks.append(m)
        data.append(m)
    total=sum(marks)
    data.append("My total marks:")
    data.append(total)
    print("Total marks of ",y,": ",total)
    av=total/len(marks)
    print("Average marks of ",y,": ",av)
    data.append("My Average marks :")
    data.append(av)
    marks.clear()

Enter name: Priya
Enter name: Siya
Enter name: Komal
Enter name: Sapana
Enter name: Rutuja
Enter Marks of  Priya
My marks are:
Enter Marks:67
Enter Marks:78
Enter Marks:78
Enter Marks:78
Enter Marks:78
Total marks of  Priya :  379
Average marks of  Priya :  75.8
Enter Marks of  Siya
My marks are:
Enter Marks:78
Enter Marks:89
Enter Marks:87
Enter Marks:77
Enter Marks:88
Total marks of  Siya :  419
Average marks of  Siya :  83.8
Enter Marks of  Komal
My marks are:
Enter Marks:99
Enter Marks:76
Enter Marks:89
Enter Marks:88
Enter Marks:76
Total marks of  Komal :  428
Average marks of  Komal :  85.6
Enter Marks of  Sapana
My marks are:
Enter Marks:67
Enter Marks:78
Enter Marks:78
Enter Marks:77
Enter Marks:78
Total marks of  Sapana :  378
Average marks of  Sapana :  75.6
Enter Marks of  Rutuja
My marks are:
Enter Marks:78
Enter Marks:89
Enter Marks:87
Enter Marks:77
Enter Marks:89
Total marks of  Rutuja :  420
Average marks of  Rutuja :  84.0

In [2]:
print(data)

['my name :', 'Priya', 'my name :', 'Siya', 'my name :', 'Komal', 'my name :', 'Sapana', 'my name :', 'Rutuja', 67, 78, 78, 78, 78, 'My total marks:', 379, 'My Average marks :', 75.8, 78, 89, 87, 77, 88, 'My total marks:', 419, 'My Average marks :', 83.8, 99, 76, 89, 88, 76, 'My total marks:', 428, 'My Average marks :', 85.6, 67, 78, 78, 77, 78, 'My total marks:', 378, 'My Average marks :', 75.6, 78, 89, 87, 77, 89, 'My total marks:', 420, 'My Average marks :', 84.0]

2. Take a 10-names and make count the string stored in a list.
- Find and show [-4: ]
- Remove the -2 position
- Add 2 items in 2, 3 position
- Pop () using remove the items
- How to clear list and show an example
- How to delete the list show the example

In [3]:
Name=[]
for x in range(10):
    n=input("Enter name:")
    Name.append(n)

Enter name:Komal
Enter name:Siya
Enter name:Seeta
Enter name:Sapana
Enter name:Madhuri
Enter name:MAnali
Enter name:Priya
Enter name:Arohi
Enter name:Shweta
Enter name:Sejal

In [4]:
print(Name)

['Komal', 'Siya', 'Seeta', 'Sapana', 'Madhuri', 'MAnali', 'Priya', 'Arohi', 'Shweta', 'Sejal']

In [5]:
Name[-4:]

['Priya', 'Arohi', 'Shweta', 'Sejal']

In [6]:
Name.pop(-2)

'Shweta'

In [7]:
print(Name)

['Komal', 'Siya', 'Seeta', 'Sapana', 'Madhuri', 'MAnali', 'Priya', 'Arohi', 'Sejal']

In [8]:
Name.insert(2,"Shreya")
Name.insert(3,"Sai")

In [9]:
print(Name)

['Komal', 'Siya', 'Shreya', 'Sai', 'Seeta', 'Sapana', 'Madhuri', 'MAnali', 'Priya', 'Arohi', 'Sejal']

In [10]:
Name.pop()    # remove last items from list

'Sejal'

In [11]:
print(Name)

['Komal', 'Siya', 'Shreya', 'Sai', 'Seeta', 'Sapana', 'Madhuri', 'MAnali', 'Priya', 'Arohi']

In [12]:
# using Clear() --> detele items from list and empty list
City=['Pune',"Mumbai","Nashik","Banglore","Delhi"]
print(City)

['Pune', 'Mumbai', 'Nashik', 'Banglore', 'Delhi']

In [13]:
City.clear()

In [14]:
print(City)

[]

In [15]:
# using del() --> delet list 
City=['Pune',"Mumbai","Nashik","Banglore","Delhi"]
print(City)

['Pune', 'Mumbai', 'Nashik', 'Banglore', 'Delhi']

In [16]:
del City

In [17]:
print(City)

NameError: name 'City' is not defined

3.Define a dictionary with 6 keys and values pair and how to add new items in the dictionary
and show with an example

In [18]:
data={"Name":['Seeta',"Siya","Arohi","Komal"],
     "Age":[20,19,22,21],
     "Educarion":["BSc","MSc",'PHD',"Engineer"]}
print(data)

{'Name': ['Seeta', 'Siya', 'Arohi', 'Komal'], 'Age': [20, 19, 22, 21], 'Educarion': ['BSc', 'MSc', 'PHD', 'Engineer']}

In [19]:
data["Passing Year"]=["2020,2022,2021,2022"]

In [20]:
print(data)

{'Name': ['Seeta', 'Siya', 'Arohi', 'Komal'], 'Age': [20, 19, 22, 21], 'Educarion': ['BSc', 'MSc', 'PHD', 'Engineer'], 'Passing Year': ['2020,2022,2021,2022']}

In [21]:
data.update({"Percentage":[88.5,88.3,78.87,84.56],"Email":["seeta@gmail.com","siya@gmail.com",'aru@gmail.com','komal12@gmail.com']})

In [22]:
print(data)

{'Name': ['Seeta', 'Siya', 'Arohi', 'Komal'], 'Age': [20, 19, 22, 21], 'Educarion': ['BSc', 'MSc', 'PHD', 'Engineer'], 'Passing Year': ['2020,2022,2021,2022'], 'Percentage': [88.5, 88.3, 78.87, 84.56], 'Email': ['seeta@gmail.com', 'siya@gmail.com', 'aru@gmail.com', 'komal12@gmail.com']}

### 4. Perform all arithmetic operations on a function

In [23]:

    
def addition(a,b):
    A=a+b
    print("Addition: ",A)
def subtraction(a,b):
    S=a-b
    print("Subtraction:",S)
def multiplication(a,b):
    m=a*b
    print("Multiplication:",m)
def division(a,b):
    d=a/b
    print("Division:",d)

In [24]:

addition(34,45)
subtraction(56,67)
multiplication(56,67)
division(56,67)

Addition:  79
Subtraction: -11
Multiplication: 3752
Division: 0.835820895522388