## Area of triangle

In [2]:

base=float(input("Enter the length of base of triangle: "))
height=float(input("Enter the length of height of triangle: "))
area=1/2*base*height
print("Area of triangle: ", area)

Enter the length of base of triangle: 10
Enter the length of height of triangle: 15
Area of triangle:  75.0

## swap of two variables

In [3]:
a=input("Enter variable a: ")
b=input("Enter variable b: ")
print("original values: ",a,b)
# swap values using temparory variable
temp=a
a=b
b=temp
print(f"Swapped variables: a={a},b={b}")

Enter variable a: siya
Enter variable b: tanu
original values:  siya tanu
Swapped variables: a=tanu,b=siya

## generate random number

In [7]:
import random
print(f"random number: {random.randint(1,100)}")

random number: 36

## Convert Kilometers to Miles

In [10]:
# 1km= 0.621371miles
km=float(input("Enter diatance in kilometer: "))
miles=km*0.621371
print(f"{km} kilometer is equal to {miles} miles")

Enter diatance in kilometer: 2
2.0 kilometer is equal to 1.242742 miles

## Convert celsius to fahrenheit

In [11]:
celsius=float(input("Enter temp in celsius: "))
faren=(celsius*9/5)+32
print(f"{celsius} degree celsius is euqal to {faren} degree farenheit")

Enter temp in celsius: 32
32.0 degree celsius is euqal to 89.6 degree farenheit

## programm to display calender

In [5]:
import calendar
year=int(input("enter year: "))
# month=int(input("enter month: "))
cal=calendar.calendar(year)
print(cal)

enter year: 2024
                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

## calendar for month and year

In [7]:
import calendar
year=int(input("enter year: "))
month=int(input("enter month: "))
cal=calendar.month(year,month)
print(cal)

enter year: 2024
enter month: 02
   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29