In [1]:
city=['pune','nashik','mumbai','banglore','satara','delhi','kolhapur']
city1=[]
for x in city:
    s1=x[:2]
    s2=x[2:]
    s=s2+s1
    city1.append(s)
for i in city1:
    for y in i:
        n=i.count(y)
        print(n,i,y)
print(city1)

1 nepu n
1 nepu e
1 nepu p
1 nepu u
1 shikna s
1 shikna h
1 shikna i
1 shikna k
1 shikna n
1 shikna a
2 mbaimu m
1 mbaimu b
1 mbaimu a
1 mbaimu i
2 mbaimu m
1 mbaimu u
1 ngloreba n
1 ngloreba g
1 ngloreba l
1 ngloreba o
1 ngloreba r
1 ngloreba e
1 ngloreba b
1 ngloreba a
1 tarasa t
3 tarasa a
1 tarasa r
3 tarasa a
1 tarasa s
3 tarasa a
1 lhide l
1 lhide h
1 lhide i
1 lhide d
1 lhide e
1 lhapurko l
1 lhapurko h
1 lhapurko a
1 lhapurko p
1 lhapurko u
1 lhapurko r
1 lhapurko k
1 lhapurko o
['nepu', 'shikna', 'mbaimu', 'ngloreba', 'tarasa', 'lhide', 'lhapurko']

In [2]:
def task(n):
    city=[]
    new_city=[]
    for j in range(n):
        ci=input("enter city: ")
        city.append(ci)
    for x in city:
        s1=x[:2]
        s2=x[2:]
        s=s2+s1
        new_city.append(s)
    for i in new_city:
        for y in i:
            n=i.count(y)
            print(n,i,y)
    print(new_city)

In [3]:
task(2)

enter city: Mumbai
enter city: Banglore
1 mbaiMu m
1 mbaiMu b
1 mbaiMu a
1 mbaiMu i
1 mbaiMu M
1 mbaiMu u
1 ngloreBa n
1 ngloreBa g
1 ngloreBa l
1 ngloreBa o
1 ngloreBa r
1 ngloreBa e
1 ngloreBa B
1 ngloreBa a
['mbaiMu', 'ngloreBa']

In [4]:
task(3)

enter city: Nashik
enter city: Satara
enter city: Pune
1 shikNa s
1 shikNa h
1 shikNa i
1 shikNa k
1 shikNa N
1 shikNa a
1 taraSa t
3 taraSa a
1 taraSa r
3 taraSa a
1 taraSa S
3 taraSa a
1 nePu n
1 nePu e
1 nePu P
1 nePu u
['shikNa', 'taraSa', 'nePu']

## Task 2

In [6]:
name=[]
vowels=['a','e','i','o','u']
new=[]
n=int(input("enter n: "))
for i in range(n):
    na=input("Enter name: ")
    name.append(na)
for x in name:
    a=x[-1]
    for y in vowels:
        if y==a:
            new.append(x)

print(new)

enter n: 5
Enter name: Priya
Enter name: Madhuri
Enter name: Komal
Enter name: Sapana
Enter name: Vaibhav
['Priya', 'Madhuri', 'Sapana']

## Task 3

In [7]:
fruits=['apple','banana','mango','pineapple']
new1=[]
new2=[]
for i in fruits:
    if 'an' in i:
        s1=i.replace(i[-2],'IND')
        new1.append(s1)
    else:
        s2=i.replace(i[-2],'AUS')

        new2.append(s2)
print(new1)
print(new2)

['baINDaINDa', 'manINDo']
['appAUSe', 'pineappAUSe']

In [8]:
fruits=['apple','banana','mango','pineapple']
new1=[]
new2=[]
for i in fruits:
    ab=i[:-2]
    cd=i[-2]
    ac=i[-1]
    if 'an' in i:
        s1=ab+cd+'IND'+ac
        new1.append(s1)
    else:
        s2=ab+cd+'AUS'+ac
        new2.append(s2)
print(new1)
print(new2)

['bananINDa', 'mangINDo']
['applAUSe', 'pineapplAUSe']

In [9]:
def details(n):
    data=[]
    new1=[]
  
    for x in range(n):
        name=input("Enter name: ")
        data.append(name)
    for i in data:
        ab=i[:-2]
        cd=i[-2:]
        if 'an' in i:
            s1=ab+cd+'IND'+ac
            new1.append(s1)
            continue
    print(new1)

In [10]:
details(5)

Enter name: Banana
Enter name: Apple
Enter name: MAngo
Enter name: Orange
Enter name: Strawberry
['BananaINDe', 'OrangeINDe']

## Task 4

In [13]:
name=[]
counts=[]
total=[]
new_total=[]
average=[]
new_average=[]
marks=[]
n=int(input("enter n: "))
for i in range(n):
    na=input("Enter name: ")
    name.append(na)
for x in name:
    l=len(x)
    counts.append(l)
    print('Enter marks of',x)
    if l%2==0:
        for i in range(3):
            m=int(input('Enter marks: '))
            marks.append(m)
    else:
        for i in range(4):
            m1=int(input('Enter marks: '))
            marks.append(m1)
    t=sum(marks)
    total.append(t)
    av=t/len(marks)
    average.append(av)
    if av<50:
        print("please study hard...")
    elif 50<=av<75:
        t=t+5
        avg=t/len(marks)
        new_total.append("New_Total Marks are: ")
        new_total.append(t)
        new_average.append(avg)
    elif 75<=av<=100:
        t=t+7
        avg=t/len(marks)
        new_total.append("New_Total Marks are: ")
        new_total.append(t)
        new_average.append(avg)
    else:
        print("enter valid marks... ")
    marks.clear()
print(total)
print(new_total)
print(average)
print(new_average)

enter n: 2
Enter name: sai
Enter name: siya
Enter marks of sai
Enter marks: 56
Enter marks: 65
Enter marks: 56
Enter marks: 66
Enter marks of siya
Enter marks: 76
Enter marks: 67
Enter marks: 78
[243, 221]
['New_Total Marks are: ', 248, 'New_Total Marks are: ', 226]
[60.75, 73.66666666666667]
[62.0, 75.33333333333333]

#####

In [11]:

def result():
    name=[]
    counts=[]
    marks=[]
    n=int(input("enter n: "))
    for i in range(n):
        na=input("Enter name: ")
        name.append(na)
    for x in name:
        l=len(x)
        counts.append(l)
        if l%2==0:
            for i in range(3):
                m=int(input('Enter marks: '))
                marks.append(m)
        else:
            for i in range(4):
                m1=int(input('Enter marks: '))
                marks.append(m1)
        
    return marks
def avg():
    total=[]
    new_total=[]
    average=[]
    new_average=[]
    ma=result()
    t=sum(ma)
    total.append(t)
    av=t/len(ma)
    if av<50:
        print("please study hard...")
    elif 50<=av<75:
        t=t+5
        new_total.append(t)
    elif 75<=av<=100:
        t=t+7
        new_total.append(t)
    else:
        print("enter valid marks... ")
    ma.clear()
    print(total)
    print(new_total)

In [105]:

avg()

enter n: 2
Enter name: sai
Enter name: siya
Enter marks: 34
Enter marks: 45
Enter marks: 56
Enter marks: 67
Enter marks: 78
Enter marks: 76
Enter marks: 56
[412]
[417]